<div class="jumbotron center">
	<h3>Become a Sisocrat (Sisu Socrat!) </h3>
	<p>
	<%= link_to "Register", new_user_registration_path, class: "bbtn btn-primary btn-lg" %>
	<%= link_to "Log in", new_user_session_path, class: "bbtn btn-primary btn-lg" %>
	</p>
</div>