<div class="jumbotron center">
	<p>Become a Sisocrat (Sisu Socrat!) </p>
	<%= link_to "Register", "#", class: "bbtn btn-primary btn-lg" %>
</div>
<div class="jumbotron center">
<p>Sisocrats, please procede. </p>	<%= render 'layouts/livedemo' %> 
</div>