<div class="jumbotron">
	<h1>Elis's first page produced with Github</h1>
	Click here to become a Sisocrat (Sisu Socrat!) <%= link_to "Register", "#", class: "bbtn btn-primary btn-lg" %>
</div>
<div class="jumbotron">
Sisocrats, please procede.	<%= render 'layouts/livedemo' %> 
</div>